{% extends "food/base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% block body %}

    {% for item in itemlist %}

    <div  class="row mb-5">
        <div class="offset-md-2 col-md-3">
            <img src="{{ item.item_image }}" class="card" height="140px" width="230px">
        </div>

        <div class="col-md-4">
            <h3 style="font-size: 1.5rem">{{ item.item_name }}</h3>
            <h5 style="font-style: italic; font-size: 1rem">{{ item.item_desc | truncatewords:6 }}</h5>
            <h6>${{ item.item_price }}</h6>
            <h6 style="font-style: italic">added for: {{ item.rest_owner }}</h6>
            <h6 style="font-style: italic">added by: {{ item.added_by }}</h6>
        </div>

        {% if user.is_authenticated %}
            <div class="col-md-3">
                <a href="{% url 'food:detail' item.id %}" style="width: 100px" class="btn btn-success">
                    Details
                </a>
            </div>
        {% endif %}
    </div>

    {% endfor %}

    <!-- Start code for Pagination -->

    {% if itemlist.has_previous %}

    <div class="offset-md-1">
        <a href="?page=1">
            First
        </a>

        <a href="?page={{ itemlist.previous_page_number }}">
            Previous
        </a>
    </div>

{% endif %}

<!-- current page -->
Page: {{ itemlist.number }} of {{ itemlist.paginator.num_pages }}

{% if itemlist.has_next %}

    <div class="offset-md-1">
        <a href="?page={{ itemlist.next_page_number }}">
            Next
        </a>

        <a href="?page={{ itemlist.paginator.num_pages }}">
            Last
        </a>
    </div>

{% endif %}

<!-- end code for pagination -->
    
{% endblock body %}

</body>
</html>

